@import '../../../styles/variables.scss';

.form__label {
	margin-bottom: 8px;
}
.form__input {
	padding: 12px 16px;
	width: -webkit-fill-available;
	background-color: $color-input;
	margin-bottom: 20px;
	border: 2px solid $color-background;
	border-radius: 4px;
	&:last-child {
		margin: 0;
	}
}