@import '../../../styles/variables.scss';

.btn_transparent {
	background-color: $btn-secondary-bg-color;
	border: 1px solid white;
}

.primary {
	color: $color-primary;
	border: 1px solid $color-primary;
}