@import '../../styles/variables.scss';

.block{
	.block__text{
		color: white;
		margin-bottom: 60px;
		.block__title {
			margin-bottom: 30px;
		}
		.block__description {
			max-width: 595px;
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
		}
		span {
			color: $color-primary;
		}
	}
	.block__buttons {
		display: flex;
		align-items: center;
		button{
			&:first-child {
				margin-right: 12px;
			}
			&:last-child {
				margin-left: 12px;
			}
		}
	}
}