.menu {
	margin: 40px 0;
	.menu__page {
		display: flex;
		a {
			text-transform: capitalize;
			&::after {
				content: "/";
				padding: 0 10px;
			}
			&:last-child {
				color: #9A9CA5;
				&::after {
					content: "";
					padding: 0;
				}
			}
		}
	}
}