@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
	height: 540px;
	display: flex;
	background-repeat: no-repeat;
	justify-content: center;
	background-size: cover;
	padding: 92px 32px 0 32px;
	.main__container{
		@include size($container-width, 100%);
		display: flex;
		.main__wrapper{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			.main__slider {
				display: flex;
			}
		}
	}
}