@import 'variables.scss';

.btn {
	padding: 15px 40px 15px 40px;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 4px;
	cursor: pointer;
	color: white;
}

.btn_transparent {
	background-color: transparent;
	border: 1px solid white;
}

.btn_primary {
	background-color: $color-primary;
	border: none;
}