@import 'variables.scss';
@import 'mixins.scss';

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.header__container{
		@include size($container-weight, 52px);
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.header__navbar {
			width: 100%;
			display: flex;
			justify-content: center;
			ul{
				display: flex;
				li {
					font-weight: 700;
					text-wrap: nowrap;
					margin: 0 20px;
					cursor: pointer;
					&:first-child{
						margin: 0 20px 0 0;
					}
					&:last-child {
						margin: 0 0 0 20px;
					}
				}
			}
		}
		.header__contacts {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			.contacts__block {
				max-width: 100%;
				display: flex;
				align-items: center;
				text-wrap: nowrap;
				&:first-child{
					margin-right: 18px;
				}
				&:last-child{
					margin-left: 18px;
				}
				.contacts__info {
					.contacts__title {
						font-size: 14px;
						font-weight: 700;
					}
					.contacts__text {
						font-size: 18px;
						font-weight: 400;
					}
					p {
						margin: 8px;
					}
				}
			}
			
		}
	}
}