@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
	height: 988px;
	.main__container{
		display: flex;
		justify-content: center;
		.main__wrapper{
			@include size($container-weight, 100%);
			margin-top: 220px;
	
			.main__slider {
				display: flex;
			}
		}
	}
}