@import '../../styles/variables.scss';

.block{
	.block__text{
		color: black;
		.block__title {
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		.block__description {
			max-width: 595px;
			font-size: 20px;
			line-height: 30px;
			color: #787A80;
			font-weight: 500;
		}
		span {
			color: $color-primary;
		}
	}
}