@import '../../styles/variables.scss';

.main__block{
	.main__text{
		color: black;
		.main__title {
			font-size: 40px;
			font-weight: 700;
		}
		.main__description {
			max-width: 595px;
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
		}
		span {
			color: $color-primary;
		}
	}
	.main__buttons {
		display: flex;
		align-items: center;
		margin-top: 60px;
		button{
			&:first-child {
				margin-right: 12px;
			}
			&:last-child {
				margin-left: 12px;
			}
		}
	}
}